<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>AdminLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddTeacher</servlet-name>
        <servlet-class>AddTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TeacherLogin</servlet-name>
        <servlet-class>TeacherLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacher</servlet-name>
        <servlet-class>UpdateTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewServlet</servlet-name>
        <servlet-class>ViewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutTeacher</servlet-name>
        <servlet-class>LogoutTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudent</servlet-name>
        <servlet-class>AddStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudent</servlet-name>
        <servlet-class>ViewStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewTeacher</servlet-name>
        <servlet-class>ViewTeacher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentLogin</servlet-name>
        <servlet-class>StudentLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutStudent</servlet-name>
        <servlet-class>LogoutStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewSProfile</servlet-name>
        <servlet-class>ViewSProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudent</servlet-name>
        <servlet-class>UpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>deleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddTeacher</servlet-name>
        <url-pattern>/AddTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TeacherLogin</servlet-name>
        <url-pattern>/TeacherLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacher</servlet-name>
        <url-pattern>/UpdateTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewServlet</servlet-name>
        <url-pattern>/ViewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutTeacher</servlet-name>
        <url-pattern>/LogoutTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudent</servlet-name>
        <url-pattern>/AddStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudent</servlet-name>
        <url-pattern>/ViewStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewTeacher</servlet-name>
        <url-pattern>/ViewTeacher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentLogin</servlet-name>
        <url-pattern>/StudentLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutStudent</servlet-name>
        <url-pattern>/LogoutStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewSProfile</servlet-name>
        <url-pattern>/ViewSProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudent</servlet-name>
        <url-pattern>/UpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
